/*********************/
/* LAYOUT / SECTIONS */
/*********************/

html {
  background: #E3E3E3;
}

body {
  background: #FFF;
}

//
// .header
//


.header {
  transition-duration: $transition-duration;
  transition-property: box-shadow;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #FFF;
  height: $header--height;
  &.header--shadow {
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  }
}

.header__container {
  @include make-container();
  @include make-container-max-widths();
}

.header__row {
  @include make-row();
  justify-content: space-between;
}

.header-logo {
  display: block;
  margin: 0 auto;
  @include hide-text;
  background: url(/images/tippmate-logo-black.svg) no-repeat; 
  background-size: contain;
  height: $header--height;
  width: $header--height/0.7;
  @include media-breakpoint-up(md) {
    float: left;
    margin: 0;
  }
}

.nav {
  display: none;
  float: right;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.nav__item {
  display: inline-block;
  margin-left: calc(1vw + 20px);
  position: relative;
}

.nav__item-link {
  font-family: $encodesans;
  color: $text--light;
  line-height: $header--height;
  display: inline-block;
}

.nav__sub {
  position: absolute;
  left: 50%;
  top: $header--height;
  border: 1px solid #EEE;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  background: #fff;
  min-width: 180px;
  margin-left: -90px;
}

.nav__sub-item {
  display: block;
  padding: 0.5em 0.7em;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.mobile-nav {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.mobile-nav__container {
  padding: 2em 3em;
}


.mobile-nav__item {
  font-family: $encodesans;
  display: block;
  text-align: center;
  color: $text--light;
  padding: 1em .5em;
  border-bottom: 1px solid $border--light;
  margin: 0 auto;
  max-width: 15em;
  &:last-child {
    border-bottom: 0;
  };
}

.mobile-nav__sub {
  background: $background-light;
  margin: 0 auto;
  max-width: 15em;
  position: relative;
}

.mobile-nav__sub-item {
  display: block;
  text-align: center;
  color: $text;
  height: 2em;
  line-height: 2em;
  border-bottom: 1px solid #FFF;
}

.mobile-nav__sub-toggle {
  width: 50px;
  height: $mobile-nav-item-height;
  background: none;
  position: absolute;
  top: -$mobile-nav-item-height;
  right: 0;
  padding: 0;
  div {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid $border--ui-el;
    line-height: 28px;
    float: right;
    &:before {
      transition-duration: $transition-duration;
      transition-property: transform;
      content: '';
      display: inline-block;
      @include triangle(down, 12px, 12px, $text--highlight);
      transform: rotate(0deg);
    }; 
  }
  &.mobile-nav__sub-toggle--expanded div:before {
    transform: rotate(180deg);
  };
}

@include media-breakpoint-up(md) {
   .mobile-nav-toggle {
     display: none !important;
   }
}

//.no-js {
//  .mobile-nav,
//  .mobile-nav__sub-items {
//    display: block !important;
//  }
//  .mobile-nav-toggle,
//  .mobile-nav__sub-toggle {
//    display: none;
//  }
//  .mobile-nav__container {
//    padding: 1em 2em;
//  }
//}

//.js {
.mobile-nav {
//    transition-property: opacity;
//    transition-duration: 5s;
  z-index: 100;
  position: fixed;
  top: $header--height;
  bottom: 0;
  background: #FFF;
  background-color: rgba(255,255,255, 0.98);
  left: 0;
  right: 0;
  overflow-y: auto;
}
.mobile-nav__item {
  padding: 0vh .5em;
  height: $mobile-nav-item-height;
  line-height: $mobile-nav-item-height;
}
.mobile-nav-toggle {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80px;
}

.mobile-nav-toggle__show,
.mobile-nav-toggle__hide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
}

.mobile-nav-toggle__show {
  span {
    display: block;
    height: 1px;
    background: $green;
    margin: 5px 20px 5px 34px;
  }
}

.mobile-nav-toggle__hide {
  display: none;
  &:before,
  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 30px;
    background: $green;
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    right: 20px;
  }
  &:before {
    transform: rotate(45deg);
  }
}



//
// .footer
//

.footer {
  background: #F5F5F5;
}

.footer__container {
  @include make-container();
  @include make-container-max-widths(); 
}

.footer__row {
  color: #A5A5A5;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: $spacer-6 0;
  a {
    color: inherit;
  }
}