.bg-section,
.bg-img-section {
  color: #FFF;
  
  h1 {
    color: #FFF;
    .highlight {
      background: #53731A;
      padding: .15em .35em;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
  }
}

.bg-radial-gradient {
  background: #5D9200;
  background-image: radial-gradient(farthest-corner at 50% 0, #8ABC31 0, #5D9200 65%, #436800 100%);
  
//      background: -webkit-radial-gradient(circle farthest-corner at 50% 60px,#fdf5d0 0,#fcd8ac 90%,#f8c8a5 100%);
//      background: -o-radial-gradient(circle farthest-corner at 50% 60px,#fdf5d0 0,#fcd8ac 90%,#f8c8a5 100%);
//      background: radial-gradient(circle farthest-corner at 50% 60px,#fdf5d0 0,#fcd8ac 90%,#f8c8a5 100%);
}

.bg-section{
  @extend .bg-radial-gradient;
}

.bg-img-section {
  background: no-repeat center;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @extend .bg-radial-gradient;
    opacity: .9;
  }
}


.home-top {
  margin-bottom: 40px;
  position: relative;
  @include media-breakpoint-up(sm) {
    background-image: url(/images/bg-eckfahne-fussballplatz--600.jpg);
  }
  @include laptop {
    background-image: url(/images/bg-eckfahne-fussballplatz.jpg);
  }
  margin-top: 20px;
  h1 {
    margin-top: -10px;
  }
}

.home-top__demo {
  margin-bottom: -40px;
  position: relative;
  &:hover {
    .btn {
      opacity: 1;
    }
  };
  .btn {
    transition-property: all;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
  }
}