.noise-overlay {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(/images/noise.png);
  };
}

.bg-radial-gradient {
  background: #5D9200;
  background-image: radial-gradient(farthest-corner at 50% 0, #8ABC31 0, #5D9200 65%, #436800 100%);
  
//      background: -webkit-radial-gradient(circle farthest-corner at 50% 60px,#fdf5d0 0,#fcd8ac 90%,#f8c8a5 100%);
//      background: -o-radial-gradient(circle farthest-corner at 50% 60px,#fdf5d0 0,#fcd8ac 90%,#f8c8a5 100%);
//      background: radial-gradient(circle farthest-corner at 50% 60px,#fdf5d0 0,#fcd8ac 90%,#f8c8a5 100%);
}


.bg-section,
.bg-img-section {
  color: #FFF;
  @extend .noise-overlay;
  &:after {
    opacity: 0.7;
  };
  .container {
    position: relative;
    z-index: 2;
  }
  
  h1 {
    color: #FFF;
    .highlight {
      background: #53731A;
      padding: .15em .35em;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
  }
  h3 {
    color: #FFF;
  }
}


.bg-section{
  @extend .bg-radial-gradient;
}

.bg-img-section {
  background: no-repeat center;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @extend .bg-radial-gradient;
    @include media-breakpoint-up(sm) {
      opacity: .9;
    }
  }
}

.light-bg-section {
  background: #EAEAEA;
  background-image: linear-gradient(0deg, #EDEDED 0%, #F7F7F7 100%);
  padding: $section-margin;
  @extend .noise-overlay;
  &:after {
    opacity: 0.4;
  };
  .container {
    position: relative;
    z-index: 1;
  }
}

.portrait {
  border: 2px solid #DDDDDD;
  padding: 2px;
  border-radius: 500px;
}


.home-top {
  margin-bottom: $section-margin * 1.3;
  position: relative;
  @include media-breakpoint-up(sm) {
    background-image: url(/images/bg-eckfahne-fussballplatz--600.jpg);
  }
  @include laptop {
    background-image: url(/images/bg-eckfahne-fussballplatz.jpg);
  }
}

.home-top__demo {
  margin-bottom: -40px;
  position: relative;
  &:hover {
    .btn {
      opacity: 1;
    }
  };
  .btn {
    transition-property: all;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
  }
}


.home-advantages {
  .lnr {
    width: 3em;
    height: 3em;
    color: $icon--light;
    margin-right: 1em;
  }
}



.list {
  list-style-type: circle;
}

.list__item {
  margin: 1em 0;
}

.list--checks {
  list-style: none;
  padding-left: 2.2em;
  .list__item {
    position: relative;
    &:before {
      position: absolute;
      left: -2.2em;
      top: .25em;
      content: '';
      display: block;
      width: 1em;
      height: .55em;
      border-bottom: 1px solid $icon--highlight;
      border-left: 1px solid $icon--highlight;
      transform: rotate(-45deg);
    };
  }
}


.iconic-features {
  
}

.iconic-feature {
  text-align: center;
  .lnr {
    font-size: 2em;
    color: $icon--highlight;
  }
  h3 {
    margin-top: $spacer-2;
    margin-bottom: $spacer-1;
  }
  h4 {
    margin-bottom: $spacer-2;
    color: $gray--dark; 
  }
}


.more-col {
   
}

.happy-clients {
  text-align: center;
  @include media-breakpoint-up(sm) {
    text-align: left;
  }
  h2 {
    margin-bottom: $spacer-4;
  }
}

.happy-client {
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: row;
  }
}
.happy-client__portrait {
  align-self: center;
  width: 70px;
  margin: 0 auto $spacer-3;
  @include media-breakpoint-up(sm) {
    margin: 0 $spacer-4 0 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
}
.happy-client__img {
  @extend .portrait
}
.happy-client__quote {
  font-style: italic;
}


hr {
  margin-top: $spacer-4;
  margin-bottom: $spacer-4;
  border: 0;
  height: $hr-border-width;
  background: $hr-border-color;
}

.hr--on-dark {
  opacity: 0.12;
  background-image: linear-gradient(-90deg, rgba(0,0,0,0.00) 0%, #000000 50%, rgba(0,0,0,0.00) 100%);
  width: 70%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
}

.vcard {
  display: flex;
  h4 {
    margin-bottom: 0;
  }
}

.vcard__img {
  @extend .portrait;
  align-self: center;
  margin-right: $spacer-3;
}

.vcard__contact-list {
  margin-top: $spacer-2;
}

.vcard__contact {
  margin-top: $spacer-1;
  display: block;
  .lnr {
    display: inline-block;
    margin-right: .5em;
  }
}

.further-questions {
  .vcard {
    justify-content: center;
    margin: $spacer-4 0;
  }
}


.form-group {
  label {
    font-family: $encodesans;
  }
  .form-control {
    border-width: 1px;
  }
}

.contact {
  .smi {
    margin-right: .5em;
    width: 32px;
  }
  
  .sml {
    display: inline-block;
    margin-bottom: $spacer-1;
    color: $text;
    &:hover {
      color: $text--highlight;
    };
  }
}