
//
// VARIABLES
//



// COLORS

$blue: #4183C4;
$green: #96C243;

// Grays
$black:             #000;
$gray:              #858585;
$gray--dark:        #333;
$gray--light:       #E6E6E6;
$gray--lighter:     #EEE;

// Semantic colors
$text:              $gray--dark;
$text--dark:        $black;
$text--highlight:   $green;
$text--light:       $gray;

$border--ui-el:     $gray;
$border--light:     $gray--light;

$background-light:  $gray--lighter;



// FONT STACKS
$opensans: 'Open Sans', Helvetica, Arial, sans-serif;
$encodesans: 'Encode Sans Expanded', sans-serif;




// Mobile breakpoints
@mixin smartphone {
  @media screen and (min-width: 550px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 750px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

@mixin hd {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

$transition-duration: .3s;


// layout
$header--height: 70px;
$mobile-nav-item-height: 15vh;