
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$green: #96C243;

// Grays
$black:           #000;
$gray:            #858585;
$gray--dark:      #333;
$gray--light:     #E6E6E6;

$text:            $gray--dark;
$text--dark:      $black;
$text--highlight: $green;
$text--light:     $gray;

$border--light:   $gray--light;

// Font stacks
$opensans: 'Open Sans', Helvetica, Arial, sans-serif;
$encodesans: 'Encode Sans Expanded', sans-serif;

// Mobile breakpoints
@mixin smartphone {
  @media screen and (min-width: 550px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 750px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

@mixin hd {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

$transition-duration: .3s;


// layout
$header--height: 50px;