<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include   meta.html %}
    
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded|Open+Sans:400,700" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded|Open+Sans" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="header__container">
        <div class="header__row">
          <a href="{{ site.t[page.lang].routes.main.home.url }}" class="header-logo">
            Tippmate
          </a>
          <div class="nav">
            {% assign routes = site.t[page.lang].routes.main %}
            {% for route in routes %}
              {% assign subs = route[1].sub %}
              <div class="nav__item">
                <a class="nav__item-link" href="{{ route[1].url }}">
                  {{ route[1].name }}
                </a>
                {% if subs.size > 0 %}
                  <div class="nav__sub" style="display: none">
                    {% for sub in subs %}
                      <a class="nav__sub-item" href="{{ sub.url }}">
                        {{ sub.name }}
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="mobile-nav-toggle">
            <button class="mobile-nav-toggle__show">
              <span></span><span></span><span></span>
            </button>
            <button class="mobile-nav-toggle__hide">
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mobile-nav" style="display: none;">
      <div class="mobile-nav__container">
        {% assign routes = site.t[page.lang].routes.main %}
        {% for route in routes %}
          {% assign subs = route[1].sub %}
          <a class="mobile-nav__item" href="{{ route[1].url }}">
            {{ route[1].name }}
          </a>
          {% if subs.size > 0 %}
            <div class="mobile-nav__sub">
              <button class="mobile-nav__sub-toggle"><div></div></button>
              <div class="mobile-nav__sub-items" style="display: none">
                {% for sub in subs %}
                  <a class="mobile-nav__sub-item" href="{{ sub.url }}">
                    {{ sub.name }}
                  </a>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    
    <!-- <div class="page-container">
      <div class="site-info">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
      </div> -->
      
      {{ content }}
    <!-- </div> -->



    <footer class="footer">
      <div class="footer__container">
        <div class="footer__row">
          <a href="#">Impressum</a> • <a href="#">AGB</a> • © 2017 Tippmate GbR. All rights reserved
        </div>
      </div>
    </footer>
    
    <script type="text/javascript" src="{{ site.baseurl }}/javascript/jquery-3.2.1.js"></script>
    <script src="{{ site.baseurl }}/components/OwlCarousel2-2.2.1/dist/owl.carousel.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/javascript/main.js"></script>
    
    <script type="text/javascript">
      page = new Tippmate.page();
    </script>
    
    {% include analytics.html %}
  </body>
</html>
