<section class="bg-section section py-6">
  
  <div class="container text-center">
    
    <div class="row">
      <div class="col">
        <p>
          Profitieren Sie von einem <strong>komplett individualisierbaren Tippspiel</strong>
          und gehen Sie als <strong>Gewinner vom Platz</strong>.
        </p>
        <a href="#" class="btn btn-outline-light">{% include icon type="arrow-right" %}Produktdetails</a>
      </div>
    </div>
    <hr class="hr--on-dark">
    <div class="row">
      <div class="col">
        <h3>Tippspiel Demo</h3>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui</p>
        <a href="#" class="btn btn-light">{% include icon type="arrow-right" %}Demo kostenlos testen</a>
      </div>
    </div>
  </div>
  
</section>