<section class="home-advantages section">
  
  <div class="container">
    
    <div class="row justify-content-center align-items-center">
      <div class="col-auto d-none d-sm-block">
        {% include icon type="rocket" %}
      </div>
      <div class="col-auto">
        <h2>Ihre Vorteile</h2>
        <ul class="list list--checks">
          <li class="list__item">Förderung der <strong>Mitarbeitermotivation</strong></li>
          <li class="list__item">Steigerung der <strong>Kundenbindung</strong></li>
          <li class="list__item">und <strong>Kundengewinnung</strong></li>
          <li class="list__item">die <strong>Brand-Awareness</strong> und <strong>Leads</strong></li>
        </ul>
      </div>
    </div>
  </div>
</section>
