<section class="home-advantages section">
  
  <div class="container">
    
    <div class="row">
      <div class="col">
        <h2>Ihre Vorteile</h2>
        <ul>
          <li>Förderung der <strong>Mitarbeitermotivation</strong></li>
          <li>Steigerung der <strong>Kundenbindung</strong></li>
          <li>und <strong>Kundengewinnung</strong></li>
          <li>die <strong>Brand-Awareness</strong> und <strong>Leads</strong></li>
        </ul>
      </div>
    </div>
  </div>
</section>
