<section class="further-questions section">
  
  <div class="container">
    
    <div class="row">
      <div class="col text-center">
        <h2>Weitere Fragen zu unserem Produkt?</h2>
        <p>
          Kontaktieren Sie uns persönlich, wir helfen Ihnen gerne weiter:
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="vcard">
          <img class="vcard__img" alt="Portrait von Produktmanager Max Rieder" src="/images/tippmate-produktmanager-max-rieder.jpg" title="Produktmanager Max Rieder" >
          <div class="vcard__content">
            <h4>Max Rieder</h4>
            <div class="vcard__position">Produktmanagement</div>
            <div class="vcard__contact-list">
              <a href="mailto:max@tippmate.de" class="vcard__contact">{% include icon type="envelope" %}max@tippmate.de</a>
              <a href="tel:+49151234555" class="vcard__contact">{% include icon type="smartphone" %}+49 151 234555</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col more-col text-center mt-4">
        <a href="#" class="btn btn-link">{% include icon type="arrow-right" %}Kontaktformular</a>
      </div>
    </div>
    
  </div>
         
</section>