<section class="further-questions section">
  
  <div class="container">
    
    <div class="row">
      <div class="col text-center">
        <h2>Weitere Fragen zu unserem Produkt?</h2>
        <p>
          Kontaktieren Sie uns persönlich, wir helfen Ihnen gerne weiter:
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        {% include vcards/max-rieder.html %}
      </div>
    </div>
    
    <div class="row">
      <div class="col more-col text-center mt-4">
        <a href="#" class="btn btn-link">{% include icon type="arrow-right" %}Kontaktformular</a>
      </div>
    </div>
    
  </div>
         
</section>