<section class="happy-clients section">
  
  <div class="container">
    
    <div class="row">
      <div class="col">
        <h2>Das sagen unsere Kunden</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="glide">

            <div class="glide__arrows">
                <button class="glide__arrow prev" data-glide-dir="<">{% include icon type="chevron-left" %}</button>
                <button class="glide__arrow next" data-glide-dir=">">{% include icon type="chevron-right" %}</button>
            </div>

            <div class="glide__wrapper">
                <ul class="glide__track">
                    <li class="glide__slide">
                      <div class="happy-client">
                        <div class="happy-client__portrait">
                          <img src="/images/naomi-owusu-tickaroo-ceo.jpg" class="happy-client__img" alt="Portrait von Naomi Owusu, Geschäftsführerin Tickaroo GmbH" title="Geschäftsführerin Tickaroo GmbH">
                        </div>
                        <div class="happy-client__content">
                          <blockquote class="happy-client__quote">
                            „Die Auswahl der Spiele, die Berechnung der Punkte, Zusatzfunktionen wie zum Beispiel Bonusfragen - all das kann man individuell nach seinen Wünschen gestalten. Dazu kommt eine übersichtliche und ansprechende optische Aufbereitung. Also ein rundum gelungenes Paket, das die Nutzer begeistert.”
                          </blockquote>
                          <div class="happ-client__meta">
                            Naomi Owusu, CEO, <a href="http://www.tickaroo.com/">Tickaroo GmbH</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="glide__slide">
                      <div class="happy-client">
                        <div class="happy-client__portrait">
                          <img src="/images/naomi-owusu-tickaroo-ceo.jpg" class="happy-client__img" alt="Portrait von Naomi Owusu, Geschäftsführerin Tickaroo GmbH" title="Geschäftsführerin Tickaroo GmbH">
                        </div>
                        <div class="happy-client__content">
                          <blockquote class="happy-client__quote">
                            „Die Auswahl der Spiele, die Berechnung der Punkte, Zusatzfunktionen wie zum Beispiel Bonusfragen - all das kann man individuell nach seinen Wünschen gestalten. Dazu kommt eine übersichtliche und ansprechende optische Aufbereitung. Also ein rundum gelungenes Paket, das die Nutzer begeistert.”
                          </blockquote>
                          <div class="happ-client__meta">
                            Naomi Owusu, CEO, <a href="http://www.tickaroo.com/">Tickaroo GmbH</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="glide__slide">
                      <div class="happy-client">
                        <div class="happy-client__portrait">
                          <img src="/images/naomi-owusu-tickaroo-ceo.jpg" class="happy-client__img" alt="Portrait von Naomi Owusu, Geschäftsführerin Tickaroo GmbH" title="Geschäftsführerin Tickaroo GmbH">
                        </div>
                        <div class="happy-client__content">
                          <blockquote class="happy-client__quote">
                            „Die Auswahl der Spiele, die Berechnung der Punkte, Zusatzfunktionen wie zum Beispiel Bonusfragen - all das kann man individuell nach seinen Wünschen gestalten. Dazu kommt eine übersichtliche und ansprechende optische Aufbereitung.”
                          </blockquote>
                          <div class="happ-client__meta">
                            Naomi Owusu, CEO, <a href="http://www.tickaroo.com/">Tickaroo GmbH</a>
                          </div>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>

            <div class="glide__bullets"></div>

        </div>

      </div>
    </div>
    <div class="row">
      <div class="col more-col text-center">
        <a href="#" class="btn btn-link">{% include icon type="arrow-right" %}Referenzen</a>
      </div>
    </div>
  
  </div>
</section>
