<section class="happy-clients section">
  
  <div class="container">
    
    <div class="row">
      <div class="twelve columns">
        <h2>Das sagen unsere Kunden</h2>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div class="happy-client">
          <div class="happy-client__portrait">
            <img src="" class="happy-client__img" alt="Portrait von Naomi Owusu, Geschäftsführerin Tickaroo GmbH" title="Geschäftsführerin Tickaroo GmbH">
          </div>
          <div class="happy-client__content">
            <blockquote class="happy-client__quote">
              „Die Auswahl der Spiele, die Berechnung der Punkte, Zusatzfunktionen wie zum Beispiel Bonusfragen - all das kann man individuell nach seinen Wünschen gestalten. Dazu kommt eine übersichtliche und ansprechende optische Aufbereitung. Also ein rundum gelungenes Paket, das die Nutzer begeistert.”
            </blockquote>
            <div class="happ-client__meta">
              Naomi Owusu, CEO, <a href="http://www.tickaroo.com/">Tickaroo GmbH</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <a href="#" class="btn btn-default"><i></i> Referenzen</a>
      </div>
    </div>
  
  </div>
</section>
