<section class="key-features section">
  
  <div class="container">
    
    <div class="row iconic-features">
      <div class="col-sm iconic-feature">
        <i></i>
        <h3>Tippen</h3>
        <h4>Einzeln und in Gruppen</h4>
        <p>
          In der Einzelwertung tippt jeder gegen jeden. Daneben können sich die Mitspieler auch zu Gruppen zusammen 
        </p>
      </div>
      <div class="col-sm iconic-feature">
        <i></i>
        <h3>Individualisierung</h3>
        <h4>Nach Ihren Wünschen</h4>
        <p>
          Wir passen Ihr Tippspiel kostenlos hinsichtlich Farbe und Logo Ihrem Firmenauftritt an.
        </p>
      </div>
      <div class="col-sm iconic-feature">
        <i></i>
        <h3>Mobilgeräte</h3>
        <h4>Responsive Design</h4>
        <p>
          Unser Tippspiel ist für Mobilgeräte optimiert. Dadurch können Ihre Mitspieler jederzeit auch unterwegs per 
        </p>
      </div>
    </div>
  </div>
</section>