<section class="home-top bg-img-section section text-center">
  
  <div class="container">
    
    <div class="row">
      <div class="col">
        <h1 class="mb-4">
          <span class="highlight">Ihr <span class="uppercase">Tippspiel</span> für die<br>Fußball-<span class="d-none d-sm-inline">Weltmeisterschaft</span><span class="d-sm-none">WM</span> 2018</span>
        </h1>
  
        <p>
          Für Unternehmen, die Ihre Kunden, Mitarbeiter und Fans begeistern wollen.
        </p>
        <p>
          Nutzen Sie die Fußball-Weltmeisterschaft 2018 als effektives Marketinginstrument und zur Mitarbeitermotivation. 
        </p>
  
        <div class="home-top__demo mt-4">
          <img 
          srcset="/images/tippmate-demo-fussball-tippspiel-wm-2018--300.png 300w, /images/tippmate-demo-fussball-tippspiel-wm-2018--400.png 400w, /images/tippmate-demo-fussball-tippspiel-wm-2018.png 572w" 
          sizes="(min-width: {{site.grid.lg}}) 572px, (min-width: {{site.grid.md}}) 400px, 300px"
          alt="Abbildung des Tippmate Tippspiels auf Desktop- und Mobilgerät" title="Tippmate Tippspiel auf Laptop und Smartphone" />
          <a href="http://demo.tippmate.com" class="btn btn-outline btn-primary">Tippspiel Demo testen</a>
        </div>
      </div>
    </div>
    
  </div>
  
</section>